<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/login.css">
	<style>
		
	</style>
</head>
<body>
	<div class="container">
		<form method="post">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username">
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
			<button type="submit" value="Submit">
		</form>
	</div>
</body>
</html>
