<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row" style="margin-top: 50px">
			<div class="col-sm-6 offset-sm-3"
				style="border: 1px solid grey; border-radius: 10px; padding: 50px">
					<table class="table table-bordered">
						<tr>
							<td>ID</td>
							<td>NAME</td>
							<td>MARK</td>
							<td>MAJOR</td>
							<td>ACTION</td>
						</tr>
						<tr th:each="student : ${LIST_STUDENT}">
							<td th:text="${student.id}"></td>
							<td th:text="${student.name}"></td>
							<td th:text="${student.mark}"></td>
							<td th:text="${student.major.name}"></td>
							<td>ACTION</td>
						</tr>
					</table>
			</div>

		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>